*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* Small Desktop (≥ 1024px) */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* Large Desktop (≥ 1440px) */
@media (min-width: 1440px) {
  .container {
    width: 1320px;
  }
}